@model IEnumerable<DotNetExpress.Model.Model.Product>
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section MyStyle
{
    <link href="~/CSS/Business/Category/Add.css" rel="stylesheet" type="text/css" />
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <meta name="viewport" content="width=device-width" />
    <title>Add</title>

}
<center>
    <h2 style="margin-top:-15px">Search any product</h2>


    <div class="menu" style="margin-top:-10px">
        <table>
            <tr>
                <td>
                    @using (Html.BeginForm("Search", "Product", FormMethod.Get))
                    {
                        @Html.TextBox("Searching")
                        <input class='btn btn-info btn-xs' type="submit" value="Search" />
                    }

                </td>
                <td><a href="~/Product/ViewProduct"><input class='btn btn-info btn-xs' type="submit" value="View Product" /></a></td>
            </tr>
        </table>
    </div>
    <table class="menu" style="margin-top:10px">
        <tr>
            <th>Code</th>
            <th>Name</th>
            <th>Reorder level</th>
            <th>Description</th>
            <th>CategoryId</th>
            <th>Action</th>
        </tr>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Code</td>
                <td>@product.Name</td>
                <td>@product.Reorder_lavel</td>
                <td>@product.Description</td>
                <td>@product.CategoryId</td>
              
                <td>
                    @Html.ActionLink("Update", "Update", "Category", new { Id = product.Id }, new { @class = "btn btn-info btn-xs" })
                    @Html.ActionLink("Delete", "Delete", "Category", new { Id = product.Id }, new { @class = "btn btn-danger btn-xs" })
                </td>
            </tr>
        }
    </table>
</center>
@section MyScript
    {

    <script src="~/Scripts/jquery-1.8.0.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}
