@model IEnumerable<DotNetExpress.Model.Model.Category>
@{
    ViewBag.Title = "Add";

    Layout = "~/Views/Home/Home.cshtml";
}
<link href="~/CSS/Business/Category/View.css" rel="stylesheet" type="text/css" />
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<div class="container">
    <div class="row col-md-6 col-md-offset-2 custyle">
        <input id="myInput" type="text" placeholder="Search..">
        <table class="table table-striped custab">
            <thead>
                <a href="/Category/Add" class="btn btn-primary btn-xs pull-right"><b>+</b> Add new categories</a>
                <tr>
                    <th> @Html.DisplayNameFor(model => model.Code)</th>
                    <th> @Html.DisplayNameFor(model => model.Name)</th>
                    <th class="text-center">Action</th>
                </tr>
            </thead>

            @foreach (var item in Model)
            {
                <tr>
                    <td> @Html.DisplayFor(modelItem => item.Code)</td>
                    <td> @Html.DisplayFor(modelItem => item.Name)</td>


                    <td class="text-center">
                        @*<a class='btn btn-info btn-xs' href="/Category/Update"><span class="glyphicon glyphicon-edit"></span>Update</a>*@
                        @Html.ActionLink("Edit", "Update", new { id = item.Id })
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>

            }

        </table>
    </div>
</div>