@model DotNetExpress.Model.CategoryViewModel
<table>
    <tr>
        <th>Sl</th>
        <th>Code</th>
        <th>Name</th>
        <th>Action</th>

    </tr>
    @{ int i = 1;}
    @foreach (var student in Model.Categories)
    {
        <tr>
            <td>@(i++)</td>
            <td>@student.Code</td>
            <td>@student.Name</td>
            
            
            <td>
                @Html.ActionLink("Update", "Update", "Category", new { Id = student.Id },new { @class = "btn btn-info btn-xs" })
                @Html.ActionLink("Delete", "Delete", "Category", new { Id = student.Id },new { @class = "btn btn-danger btn-xs" })
            </td>
        </tr>
    }

</table>
