@model IEnumerable<DotNetExpress.Model.Model.Supplier>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}

@section MyStyle
{
    <link href="~/CSS/Business/Add.css" rel="stylesheet" type="text/css" />
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <meta name="viewport" content="width=device-width" />
    <title>Add</title>

}

    <h2 style="color:darkgreen; margin-top:-15px; margin-left:380px"> Search Any Supplier </h2>

    <div class="menu" style="margin-top:-10px">
        <table>
            <tr>
                <td>
                    @using (Html.BeginForm("Search", "Supplier", FormMethod.Get))
                    {
                        @Html.TextBox("Searching" )
                        <input class='btn btn-info btn-xs' type="submit" value="Search" />
                    }

                </td>
           
                <td><a href="~/Supplier/ViewSupplier"><input class='btn btn-info btn-xs' type="submit" value="View Supplier" /></a></td>
            </tr>
        </table>
    </div>
    <table class="menu" style="margin-top:10px">
        <tr>
            <th>Code</th>
            <th>Name</th>
            <th>Address</th>
            <th>Email</th>
            <th>Contact</th>
            <th>Contact person</th>

            <th>Action</th>
        </tr>
        @foreach (var supplier in Model)
        {
    <tr>
        <td>@supplier.Code</td>
        <td>@supplier.Name</td>
        <td>@supplier.Address</td>
        <td>@supplier.Email</td>
        <td>@supplier.Contact</td>
        <td>@supplier.Contact_Person</td>
        <td>
            @Html.ActionLink("Update", "Update", "Category", new { Id = supplier.Id }, new { @class = "btn btn-info btn-xs" })
            @Html.ActionLink("Delete", "Delete", "Category", new { Id = supplier.Id }, new { @class = "btn btn-danger btn-xs" })
        </td>
    </tr>
        }
    </table>

@section MyScript
    {

    <script src="~/Scripts/jquery-1.8.0.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}